// ABSTRACTS
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/extends';
// BASE
@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
// COMPONENTS
@import 'components/buttons';
// LAYOUT
@import 'layouts/burger';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/form';
// PAGES
@import 'pages/home';
